src/main/mule/json-to-xml-converter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eae71f86-eb28-42f6-afbd-1e47e15cfd2a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="json-to-xml-converterFlow" doc:id="976c009e-d677-44f4-835e-4b40cacaa5ac" >
		<http:listener doc:name="Listener" doc:id="b6a87b48-4cd7-4c67-8252-c1b781a6ca2e" config-ref="HTTP_Listener_config" path="/convert"/>
		<logger level="INFO" doc:name="Logger" doc:id="4f9e954a-9e3c-4520-bafa-600f6a3fdfbc" message='#["input payload(JSON)" : payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="ecc806ee-87d8-4708-9c24-39b934c8552d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
"xml" : payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d0a19591-081a-4e6d-b41d-cc0a8c96d28e" message='#["after transformation(XML)" : payload]'/>
	</flow>
</mule>
